@use 'sass:color';
$anim_speed: 0.25s;

/*************** Colors *********************/

// navigation
$nav_bg_color: #b8740d;
$nav_bg_color_highlighted: lighten($color: $nav_bg_color, $amount: 10);
// content
$con_bg_color: rgba($color: #AAA, $alpha: 0.8);
// table background
$table_bg_color: #b00b69;
// tablecell
$table_cell_bg_color: lighten($table_bg_color, 10);

/**************** Constants ********************/

// navigation
$nav_width: 20rem;
$nav_width_closed: 2rem;
$nav_height: 20rem;
$nav_height_closed: 2rem;
$nav_padding: 1rem;
$nav_margin: 1rem;
// table
$table_padding: 1rem;
$table_margin: 1rem;
$table_gap: 0.5rem;
$table_border_radius: 1em;